.header{
    padding: 30px 0;
    position: relative;
    z-index: 1;
}
.header .header__menu-mobile{
    font-size: 20px;
    font-weight: 800;
    color: var(--color-text-main);
    display: none;
}
.header .header__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .header__logo img{
    width: 100%;
    height: 100%;
}
.header .header__menu ul{
    display: flex;
}
.header .header__menu ul li{
    margin-right: 48px;
}
.header .header__menu ul li a{ 
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--color-text-main);
}
.header .header__search form{
    position: relative;
}
.header .header__search form input{
    width: 250px;
    height: 40px;
    border-radius: 50px;
    background: #F3F3F3;
    border: 0;
    padding-left: 50px;
    outline: 0;
    font-size: 1.4rem;
    font-weight: 400;
}
.header .header__search form span{
    position: absolute;
    display: block;
    left: 15px;
    bottom: 8px;
    font-size: 20px;
    color: #667479;
}
/* MOBILE */
.header .header__search-mobile{
    font-size: 2rem;
    font-weight: 800;
    color: var(--color-text-main);
    display: none;
}
/* END MOBILE */
.header .header__comunity a{
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    width: 200px;
    height: 44px;
    background: var(--color-text-main);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .header__comunity a:hover{
    color: #003459;
    background-color: #ffffff;
    border: 1.5px solid #003459;
    transition: color 0.5s, background-color 1s, border 1s;
}
@media (max-width: 1199.98px) {
    .header .header__comunity{
        display: none;
    }
}
@media (max-width: 991.98px) {
    .header .header__search{
        display: none;
    }
    .header .header__search-mobile{
        display: block;
    }
}
@media (max-width: 767.98px) {
    .header .header__menu{
        display: none;
    }
    .header .header__menu-mobile{
        display: block;
    }
}
/* Buttonn */
.button{
    height: 44px;
    border: 1px solid var(--color-text-main);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 28px;
}
.button-1{
    background:  #FDEED6;
}
.button-2{
    background: var(--color-text-main);
}

/* END Buttonn */
/* SECTION-1 */

.section-1{
    background: #FDEED6;
    border-radius: 0 0 40px 40px;
    margin-top: -105px;
    padding-top: 105px;
    position: relative;
    overflow: hidden;
}
.section-1 .section-1__wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.section-1__image-bg img{
    position: absolute;
    top: -5px;
    left: 40px;
}
.section-1 .section-1__content{
    width: 47%;
    padding-top: 70px;
    position: relative;
}
.section-1 .section-1__image-bg-1{
    position: absolute;
    top: 60px;
    left: -15px;
}
.section-1 .section-1__title{
    font-size: 6rem;
    font-weight: bold;
    color: var(--color-text-main);
    margin-bottom: 4px;
    position: relative;
    
}
.section-1 .section-1__sub-title{
    font-size: 4.4rem;
    margin-top: 20px;
    color: var(--color-text-main);
    font-weight: bold;
    margin-bottom: 24px;
}
.section-1 .section-1__desc{
    width: 88%;
    font-size: 1.6rem;
    color: var(--color-text-main);
    margin-bottom: 34px;
    line-height: 20px;
    font-weight: 500;
}
.section-1 .section-1__buttons{
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
}

.section-1 .section-1__buttons .button-1{
    color: var(--color-text-main);
    font-size: 16px;
    margin-right: 10px;
    font-weight: 500;
}
.section-1 .section-1__buttons .button-1 span{
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
}
.section-1 .section-1__buttons .button-1:hover{
    background-color: #003459;
    color: #ffffff;
    transition: color 0.5s, background-color 1s;
}

.section-1 .section-1__buttons .button-2{
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}
.section-1 .section-1__buttons .button-2:hover{
    color: #003459;
    background-color: #ffffff;
    border: 1.5px solid #003459;
    transition: color 0.5s, background-color 1s, border 1s;
}
.section-1__image-bg-2{
    position: absolute;
    bottom: 0px;
    right: 10px;
}
.section-1 .section-1__image{
    width: 53%;
    height: 100%;
    position: relative;
    
}
 .section-1__image-bg-4{
    position: absolute;
    bottom :0px;
    left: -100px;
}
.section-1 .section-1__image .section-1__image-main{
    width: 90%;
    height: auto;
    object-fit: contain;
    padding-right: 20px;
    position: relative;
    bottom: -1px;
}
@media (max-width: 1199.98px) {
    .section-1 .section-1__content .section-1__title{
        font-size: 5rem;
    }
    .section-1 .section-1__content .section-1__sub-title{
        font-size: 3rem;
    }
    .section-1 .section-1__content .section-1__desc{
        font-size: 1.4rem;
    }
    
}
@media (max-width: 991.98px) {
    .section-1 .section-1__content{
        width: 100%;
        padding-top: 20px;
    }
    .section-1 .section-1__content .section-1__desc{
        width: 66%;
    }
    .section-1__image-bg-2{
        display: none;
    }
    .section-1 .section-1__image{
        width: 100%;
        margin-top: 25px;
    }
    .section-1__image-bg-4{
        height: 100%;
    }
    .section-1 .section-1__image .section-1__image-main{
        padding-right: 0;
    }
    .section-1 .section-1__image-bg-1 {
        position: absolute;
        top: 5px;
        left: -15px;
    }
}
@media (max-width: 767.98px) {
    .section-1 .section-1__content .section-1__desc{
        width: 90%;
    }
    
}
@media (max-width: 576.98px) {
    .section-1 .section-1__content .section-1__title{
        font-size: 4.6rem;
    }
    .section-1 .section-1__content .section-1__sub-title{
        font-size: 2.8rem;
    }
    .section-1 .section-1__content .section-1__desc{
        font-size: 1.2rem;
    }
    .section-1__image-bg-1 {
        display: none;
    }
}
@media (max-width: 415.98px) {
    /* .section-1 .section-1__content{
        text-align: center;
    } */
    .section-1 .section-1__content .section-1__title{
        font-size: 3.6rem;
    }
    
    .section-1 .section-1__buttons{
        justify-content: center;

    }
    .section-1 .section-1__buttons .button-1{
        margin-right: 0;
    }
}
/* END SECTION ONE */

/* SECTION TWO */
.section-2{
    background: #ffffff;
    padding: 50px 0;
}
.section-2 .section-2__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.section-2 .section-2__box-left .box-left--sub-title{
    font-size: 1.6rem;
    margin-bottom: 10px;
}
.section-2 .section-2__box-left .box-left--title{
    font-size: 2.4rem;
    color: var(--color-text-main);
    font-weight: bold;
    text-transform: capitalize;
}
.section-2 .section-2__box-right{
    border-radius: 30px;
}
.section-2 .section-2__box-right a{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    border: 1px solid var(--color-text-main);
    border-radius: 30px;
    padding: 0 28px;
    color: var(--color-text-main);
}
.section-2 .section-2__box-right{
    font-size: 1.6rem;
    margin-right: 10px;
    font-weight: 600;
    color: var(--color-text-main);
}
.section-2 .section-2__box-right span{
    font-size: 1.6rem;
    margin-left: 10px;
}
.section-2 .section-2__box-right a:hover{
    background-color: #003459;
    color: #ffffff;
    transition: color 0.5s, background-color 1s;
}
.section-2 .section-2__list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.section-2 .section-2__product-item{
     width: calc((100% - 60px) / 4);
     border-radius: 15px;
     overflow: hidden;
     padding: 10px;
     box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.0784313725);
}
.section-2 .section-2__product-item:hover{
    transform: scale(1.05);
    transition: all 1s;
}
.section-2 .product-item__image img{
    width: 100%;
    object-fit: cover;
    height: auto;
    border-radius: 15px;
    margin-bottom: 20px;
}
.section-2 .product-item__content .product-item__name{
    font-size: 1.6rem;
    color: var(--color-text-drak);
    font-weight: bold;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.section-2 .product-item__content .product-item__infor{
    color: #667479;
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
    display: flex;
    flex-wrap: wrap;
    gap: 4px 13px;
    margin-bottom: 4px;
    position: relative;
}
/* .section-2 .product-item__content .product-item__infor-item{
    font-size: 1.2rem;
    margin-right: 25px;
    color: var(--color-text-light)
} */
.section-2 .product-item__content .product-item__infor-item b{
    color:#667479;
    font-weight: bold;
}
.section-2 .product-item__content .product-item__infor-dot{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #667479;
    margin-top: 5px;
}
.section-2 .product-item__content .product-item__price{
    font-size: 1.6rem;
    color: var(--color-text-drak);
    font-weight:bold;
    margin-bottom: 20px;
    margin-top: 10px;
}
.section-2 .section-2__box-bottom{
    border-radius: 30px;
    margin-top: 20px;
    display: none;
}
.section-2 .section-2__box-bottom a{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 44px;
    border: 1px solid var(--color-text-main);
    border-radius: 30px;
    padding: 0 28px;
    color: var(--color-text-main);
}
.section-2 .section-2__box-bottom{
    font-size: 1.6rem;
    margin-right: 10px;
    font-weight: 600;
    color: var(--color-text-main);
}
.section-2 .section-2__box-bottom span{
    font-size: 1.6rem;
    margin-left: 10px;
}
.section-2 .section-2__box-bottom a:hover{
    background-color: #003459;
    color: #ffffff;
    transition: color 0.5s, background-color 1s;
}
@media (max-width: 991.98px) {
    .section-2 .section-2__product-item{
        width: calc((100% - 40px) / 3);
    }
}
@media (max-width: 767.98px) {
    .section-2 .section-2__product-item{
        width: calc((100% - 20px) / 2);
    }
    .section-2 .section-2__box-right{
        display: none;
    }
    .section-2 .section-2__box-bottom{
        display: block;
    }
}
@media (max-width: 576.98px) {
    .section-2 .section-2__product-item{
        width: calc((100% - 10px));
    }
}
/* END SECTION 2 */

/* SECTION 3 */
.section-3{
    padding: 50px 0;
}
.section-3 .section-3__wrap{
    background-image: url(../img/Section-3-bg1.svg) ;
    background-size: cover;
    display: flex;
    background-position: center;
    justify-content: space-between;
    border-radius: 20px;
    overflow: hidden;
    flex-wrap: wrap;
}
.section-3 .section-3__image{
    width: 42%;
    padding: 30px 0px 0px 30px;
}
.section-3 .section-3__image img{
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: -5px;
}

.section-3 .section-3__content{
    width: 43%;
    margin-top: 58px;
    margin-right: 85px;
    text-align: right;
}
.section-3 .section-3__title{
    font-size: 5.2rem;
    font-weight: bold;
    color: var(--color-text-main);
    margin-bottom: 4px;
}
.section-3 .section-3__sub-title{
    font-size: 3.6rem;
    margin-top: 30px;
    color: var(--color-text-main);
    font-weight: bold;
    margin-bottom: 24px;
}
.section-3 .section-3__desc{
    font-size: 1.2rem;
    color: var(--color-text-main);
    margin-bottom: 20px;
    line-height: 15px;
}
.section-3 .section-3__buttons{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 30px;
}

.section-3 .section-3__buttons .button-1{
    color: var(--color-text-main);
    font-size: 16px;
    font-weight: 500;
}
.section-3 .section-3__buttons .button-1 span{
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
}
.section-3 .section-3__buttons .button-1:hover{
    background-color: #003459;
    color: #ffffff;
    transition: color 0.5s, background-color 1s;
}
.section-3 .section-3__buttons .button-2{
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}
.section-3 .section-3__buttons .button-2:hover{
    color: #003459;
    background-color: #ffffff;
    border: 1.5px solid #003459;
    transition: color 0.5s, background-color 1s, border 1s;
}

@media (max-width: 1199.98px) {
    .section-3 .section-3__content {
        margin: 25px 45px 0px 0px;
    }
    .section-3 .section-3__title {
        font-size: 4.6rem;
    }
    .section-3 .section-3__sub-title {
        margin: 15px 0;
        font-size: 2.8rem;
    }
    .section-3 .section-3__desc{
        font-size: 1.2rem;
    }
    .section-3 .section-3__buttons{
        gap: 15px;
    }
}
@media (max-width: 991.98px) {
    .section-3 .section-3__wrap{
        background: url(../img/section-3-bg-mobile.svg) no-repeat;
        background-size:cover    ;
        background-position: center;
        flex-direction: column-reverse;
    }
    .section-3 .section-3__image{
        width: 100%;
        
    }
    .section-3 .section-3__content {
        width: 100%;
        order: 0;
        margin: 0px;
        padding: 32px 23px 20px 20px;
        text-align: center;
    }
    .section-3 .section-3__buttons {
        display: flex ;
        justify-content: center;
        gap: 30px;
    }
    .section-3 .section-3__title {
        font-size: 4.6rem;
    }
    .section-3 .section-3__sub-title {
        margin: 15px 0;
        font-size: 2.8rem;
    }
    .section-3 .section-3__desc{
        font-size: 1.2rem;
    }
}
@media (max-width: 576.98px) {
    .section-3 .section-3__title {
        font-size: 3.6rem;
    }
    .section-3 .section-3__sub-title {
        font-size: 2.4rem;
    }
    .section-3 .section-3__desc{
        font-size: 1.2rem;
    }
}
@media (max-width: 576.98px) {
    .section-3 .section-3__buttons{
        gap: 10px;
    }
}
/*END SECTION 3 */
.section-4{
    background: #ffffff;
    padding: 50px 0;
}
.section-4 .section-4__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.section-4 .section-4__box-left .box-left--sub-title{
    font-size: 1.6rem;
    margin-bottom: 10px;
}
.section-4 .section-4__box-left .box-left--title{
    font-size: 2.4rem;
    color: var(--color-text-main);
    font-weight: bold;
    text-transform: capitalize;
}
.section-4 .section-4__box-right a{
    display: flex;
    align-items: center;
    height: 44px;
    border: 1px solid var(--color-text-main);
    border-radius: 30px;
    padding: 0 28px;
    color: var(--color-text-main);
}
.section-4 .section-4__box-right{
    font-size: 1.6rem;
    margin-right: 10px;
    font-weight: 600;
    color: var(--color-text-main);
}
.section-4 .section-4__box-right span{
    font-size: 1.6rem;
    margin-left: 10px;
}
.section-4 .section-4__box-right a:hover{
    background-color: #003459;
    color: #ffffff;
    transition: color 0.5s, background-color 1s;
}
.section-4 .section-4__list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.section-4 .section-4__item{
    width: calc((100% - 40px) / 3);
    border-radius: 15px;
    box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.0784313725);
    padding: 8px;
}
.section-4 .section-4__item:hover{
    transform: scale(1.05);
    transition: all 1s;
}
.section-4 .section-4__item .item-image img{
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.section-4 .section-4__item .item-content{
    padding: 8px;
}
.section-4 .section-4__item .item-tag{
    display: inline-block;
    background: #00A7E7;
    padding: 4px 10px;
    border-radius: 28px;
    font-size: 1rem;
    font-weight: bold;
    color:#FDFDFD; 
    margin-top: 10px;
    margin-bottom: 10px;
}
.section-4 .section-4__item .item-title{
    font-size: 1.6rem;
    color: var(--color-text-main);
    font-weight: bold;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-bottom: 10px;
    line-height: 20px;
}
.section-4 .section-4__item .item-sub-title{
    font-size: 1.4rem;
    color: #242B33;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 10px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.section-4 .section-4__box-bottom{
    font-size: 1.6rem;
    margin-right: 10px;
    font-weight: 600;
    color: var(--color-text-main);
    margin-top: 20px;
    display: none;
}
.section-4 .section-4__box-bottom a{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 44px;
    border: 1px solid var(--color-text-main);
    border-radius: 30px;
    padding: 0 28px;
    color: var(--color-text-main);
}

.section-4 .section-4__box-bottom span{
    font-size: 1.6rem;
    margin-left: 10px;
}
.section-4 .section-4__box-bottom a:hover{
    background-color: #003459;
    color: #ffffff;
    transition: color 0.5s, background-color 1s;
}
@media (max-width: 991.98px) {
    .section-4 .section-4__item{
        width: calc((100% - 20px) / 2);
    }
}
@media (max-width: 767.98px) {
    .section-4 .section-4__box-right{
        display: none;
    }
    .section-4 .section-4__box-bottom{
        display: block;
    }
}
@media (max-width: 576.98px) {
    .section-4 .section-4__item{
        width: calc((100% - 10px));
    }
}
/* END SECTION FOUR */

/* FOOTER */
.footer{
    background:#FDEED6;
    padding: 80px 0 40px;
}

.footer .footer__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #003459;
    padding: 32px;
    gap: 20px;
    border-radius: 20px;
}
.footer .footer__top .footer__top-title{
    width: 34%;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    text-transform: capitalize;
    line-height: 25px;
}
.footer .footer__top .footer__top-form{
    width: 66%;
    background: #FDFDFD;
    display: flex;
    gap: 15px;
    border-radius: 15px;
    overflow: hidden;
    padding: 15px;
}
.footer .footer__top .footer__top-form input{
    flex:1;
    border: 1px solid #99A2A5;
    padding: 16px 30px;
    border-radius: 10px;
    outline: none;
}
.footer .footer__top .footer__top-form .footer__top-button{
    background: var(--color-text-main);
    border-radius: 10px;
    color: #FDFDFD;
    padding: 12px 28px;
    font-size: 16px;
    font-weight: 500;
    height: 48px;
    border: none;
}
.footer .footer__top .footer__top-form .footer__top-button:hover{
    color: #003459;
    background-color: #ffffff;
    border: 1.5px solid #003459;
    transition: color 0.5s, background-color 1s, border 1s;
}
.footer .footer__midle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    border-bottom: 1px solid #CCD1D2;
}
.footer .footer__midle .footer__midle-links{
    display: flex;
   gap: 45px;
   padding: 0;
}
.footer .footer__midle .footer__midle-links li a {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--color-text-main);
}
.footer .footer__midle .footer__midle-socials{
    display: flex;
   gap: 40px;
}
.footer .footer__midle .footer__midle-socials li a {
    font-size: 3rem;
    font-weight: 500;
    color: var(--color-text-main);
}
.footer .footer__bottom{
    padding: 50px 0 0 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer .footer__bottom-copyright{
    width: 40%;
    font-size: 1.4rem;
    color:#667479;
}
.footer .footer__bottom-logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .footer__bottom-provision {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    font-size: 1.4rem;
    color:#667479;
    gap: 35px;
}
.footer .footer__bottom-provision li a{
    font-size: 1.4rem;
    color:#667479;
}

/* Footer top */
@media (max-width: 1199.98px) {
    .footer .footer__top .footer__top-title{
        font-size: 1.8rem;
        width: 45%;
    }
}
@media (max-width: 991.98px) {
    .footer .footer__top{
        flex-wrap: wrap ;
    }
    .footer .footer__top .footer__top-title{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .footer .footer__top .footer__top-form{
        width: 100%;
    }
}
@media (max-width: 767.98px) {
    .footer .footer__top .footer__top-form{
        flex-wrap: wrap;
    }
    .footer .footer__top .footer__top-form input{
        width: 100%;
    }
    .footer .footer__top .footer__top-form .footer__top-button{
        width: 100%;
    }
}
/*END  Footer top */

/* FOOTER MIDLE */
@media (max-width: 991.98px) {
    .footer .footer__midle{
       flex-direction: column;
       gap: 20px;
    }
    /* .footer .footer__midle .footer__midle-links{
        width: 100%;
    }
    .footer .footer__midle .footer__midle-socials{
        width: 100%;
    } */
}
@media (max-width: 767.98px) {
    .footer .footer__midle .footer__midle-links{
        flex-wrap: wrap;
    }
    .footer .footer__midle .footer__midle-links li a {
        font-size: 12px;
    }
    .footer .footer__midle .footer__midle-socials li a {
        font-size: 15px;
    }
}
/* END FOOTER MIDLE */

/* FOOTER BOTTOM*/
@media (max-width: 991.98px) {
    .footer .footer__bottom-logo{
        width: 100%;
        margin-bottom: 20px;
    }
    .footer .footer__bottom-copyright{
        width: 100%;
        text-align: center;
        order: 2;
        
    }
    .footer .footer__bottom-provision{
        width: 100%;
        justify-content: center;
        order: 1;
        margin-bottom: 20px;
    }
}
@media (max-width: 767.98px) {
    .footer .footer__bottom-copyright{
        font-size: 1.2rem;
    }
    .footer .footer__bottom-provision li a{
        font-size: 1.2rem;
    }
}
/* END FOOTER BOTTOM*/


/* END FOOTER */