.header{
    padding: 30px 0;
    position: relative;
    z-index: 1;
}

.header .header__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .header__logo img{
    width: auto;
    height: 4rem;
}
.header .header__menu ul{
    display: flex;
}
.header .header__menu ul li{
    margin-right: 48px;
}
.header .header__menu ul li a{ 
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--color-text-main);
}
.header .header__search form{
    position: relative;
}
.header .header__search form input{
    width: 250px;
    height: 40px;
    border-radius: 50px;
    background: #F3F3F3;
    border: 0;
    padding-left: 50px;
    outline: 0;
    font-size: 1.4rem;
    font-weight: 400;
}
.header .header__search form span{
    position: absolute;
    display: block;
    left: 15px;
    bottom: 8px;
    font-size: 20px;
    color: #667479;
}
.header .header__comunity a{
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    width: 200px;
    height: 44px;
    background: var(--color-text-main);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .header__comunity a:hover{
    color: #003459;
    background-color: #ffffff;
    border: 1.5px solid #003459;
    transition: color 0.5s, background-color 1s, border 1s;
}

/* Buttonn */
.button{
    height: 44px;
    border: 1px solid var(--color-text-main);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 28px;
}
.button-1{
    background:  #FDEED6;
}
.button-2{
    background: var(--color-text-main);
}

/* END Buttonn */
/* SECTION-1 */

.section-1{
    background: #FDEED6;
    border-radius: 0 0 40px 40px;
    margin-top: -105px;
    padding-top: 105px;
    position: relative;
}
.section-1 .section-1__wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.section-1__image-bg img{
    position: absolute;
    top: -5px;
    left: 40px;
}
.section-1 .section-1__content{
    width: 50%;
    padding-top: 70px;
    padding-right: 50px;
    position: relative;
}
.section-1 .section-1__image-bg-1{
    position: absolute;
    top: 60px;
    left: -15px;
}
.section-1 .section-1__title{
    font-size: 6rem;
    font-weight: bold;
    color: var(--color-text-main);
    margin-bottom: 4px;
    position: relative;
    
}
.section-1 .section-1__sub-title{
    font-size: 4.4rem;
    margin-top: 20px;
    color: var(--color-text-main);
    font-weight: bold;
    margin-bottom: 24px;
}
.section-1 .section-1__desc{
    font-size: 1.6rem;
    color: var(--color-text-main);
    margin-bottom: 34px;
    line-height: 20px;
    font-weight: 500;
}
.section-1 .section-1__buttons{
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
}

.section-1 .section-1__buttons .button-1{
    color: var(--color-text-main);
    font-size: 16px;
    margin-right: 10px;
    font-weight: 500;
}
.section-1 .section-1__buttons .button-1 span{
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
}
.section-1 .section-1__buttons .button-1:hover{
    background-color: #003459;
    color: #ffffff;
    transition: color 0.5s, background-color 1s;
}

.section-1 .section-1__buttons .button-2{
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}
.section-1 .section-1__buttons .button-2:hover{
    color: #003459;
    background-color: #ffffff;
    border: 1.5px solid #003459;
    transition: color 0.5s, background-color 1s, border 1s;
}
.section-1__image-bg-2{
    position: absolute;
    bottom: 0px;
    right: 10px;
}
.section-1 .section-1__image{
    width: 50%;
    height: 100%;
    position: relative;
    
}
 .section-1__image-bg-4{
    position: absolute;
    bottom :0px;
    left: -100px;
}
.section-1 .section-1__image .section-1__image-main{
    width: 90%;
    height: 90%;
    object-fit: contain;
    padding-right: 20px;
    position: relative;
}

/* END SECTION ONE */

/* SECTION TWO */
.section-2{
    background: #ffffff;
    padding: 50px 0;
}
.section-2 .section-2__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.section-2 .section-2__box-left .box-left--sub-title{
    font-size: 1.6rem;
    margin-bottom: 10px;
}
.section-2 .section-2__box-left .box-left--title{
    font-size: 2.4rem;
    color: var(--color-text-main);
    font-weight: bold;
    text-transform: capitalize;
}
.section-2 .section-2__box-right{
    border-radius: 30px;
}
.section-2 .section-2__box-right a{
    display: flex;
    align-items: center;
    height: 44px;
    border: 1px solid var(--color-text-main);
    border-radius: 30px;
    padding: 0 28px;
    color: var(--color-text-main);
}
.section-2 .section-2__box-right{
    font-size: 1.6rem;
    margin-right: 10px;
    font-weight: 600;
    color: var(--color-text-main);
}
.section-2 .section-2__box-right span{
    font-size: 1.6rem;
    margin-left: 10px;
}
.section-2 .section-2__box-right a:hover{
    background-color: #003459;
    color: #ffffff;
    transition: color 0.5s, background-color 1s;
}
.section-2 .section-2__list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.section-2 .section-2__product-item{
     width: calc((100% - 60px) / 4);
     border-radius: 15px;
     overflow: hidden;
     padding: 10px;
     box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.0784313725);
}
.section-2 .section-2__product-item:hover{
    transform: scale(1.05);
    transition: all 1s;
}
.section-2 .product-item__image img{
    width: 100%;
    object-fit: cover;
    height: auto;
    border-radius: 15px;
    margin-bottom: 20px;
}
.section-2 .product-item__content .product-item__name{
    font-size: 1.6rem;
    color: var(--color-text-drak);
    font-weight: bold;
    margin-bottom: 4px;
}
.section-2 .product-item__content .product-item__infor{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-top: 10px;
}
.section-2 .product-item__content .product-item__infor-item{
    font-size: 1.2rem;
    margin-right: 25px;
    color: var(--color-text-light)
}
.section-2 .product-item__content .product-item__infor-item b{
    color:#667479;
    font-weight: bold;
}
.section-2 .product-item__content .product-item__infor-dot{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #667479;
    margin-right: 20px;
    margin-top: 5px;
}
.section-2 .product-item__content .product-item__price{
    font-size: 1.6rem;
    color: var(--color-text-drak);
    font-weight:bold;
    margin-bottom: 20px;
}

/* END SECTION 2 */

/* SECTION 3 */
.section-3{
    padding: 50px 0;
}
.section-3 .section-3__wrap{
    background-image: url(../img/Section-3-bg1.svg) ;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    overflow: hidden;
}
.section-3 .section-3__image{
    width: 42%;
    padding: 60px 0px 0px 30px;
}
.section-3 .section-3__image img{
    width: 100%;
    height: a;
    object-fit: cover;
    margin-bottom: -5px;
}

.section-3 .section-3__content{
    width: 43%;
    margin-top: 58px;
    margin-right: 85px;
    text-align: right;
}
.section-3 .section-3__title{
    font-size: 5.2rem;
    font-weight: bold;
    color: var(--color-text-main);
    margin-bottom: 4px;
}
.section-3 .section-3__sub-title{
    font-size: 3.6rem;
    margin-top: 30px;
    color: var(--color-text-main);
    font-weight: bold;
    margin-bottom: 24px;
}
.section-3 .section-3__desc{
    font-size: 1.2rem;
    color: var(--color-text-main);
    margin-bottom: 20px;
    line-height: 15px;
}
.section-3 .section-3__buttons{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.section-3 .section-3__buttons .button-1{
    color: var(--color-text-main);
    font-size: 16px;
    margin-right: 10px;
    font-weight: 500;
}
.section-3 .section-3__buttons .button-1 span{
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
}
.section-3 .section-3__buttons .button-1:hover{
    background-color: #003459;
    color: #ffffff;
    transition: color 0.5s, background-color 1s;
}
.section-3 .section-3__buttons .button-2{
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}
.section-3 .section-3__buttons .button-2:hover{
    color: #003459;
    background-color: #ffffff;
    border: 1.5px solid #003459;
    transition: color 0.5s, background-color 1s, border 1s;
}
/*END SECTION 3 */
.section-4{
    background: #ffffff;
    padding: 50px 0;
}
.section-4 .section-4__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.section-4 .section-4__box-left .box-left--sub-title{
    font-size: 1.6rem;
    margin-bottom: 10px;
}
.section-4 .section-4__box-left .box-left--title{
    font-size: 2.4rem;
    color: var(--color-text-main);
    font-weight: bold;
    text-transform: capitalize;
}
.section-4 .section-4__box-right a{
    display: flex;
    align-items: center;
    height: 44px;
    border: 1px solid var(--color-text-main);
    border-radius: 30px;
    padding: 0 28px;
    color: var(--color-text-main);
}
.section-4 .section-4__box-right{
    font-size: 1.6rem;
    margin-right: 10px;
    font-weight: 600;
    color: var(--color-text-main);
}
.section-4 .section-4__box-right span{
    font-size: 1.6rem;
    margin-left: 10px;
}
.section-4 .section-4__box-right a:hover{
    background-color: #003459;
    color: #ffffff;
    transition: color 0.5s, background-color 1s;
}
.section-4 .section-4__list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.section-4 .section-4__item{
    width: calc((100% - 40px) / 3);
    border-radius: 15px;
    box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.0784313725);
    padding: 8px;
}
.section-4 .section-4__item:hover{
    transform: scale(1.05);
    transition: all 1s;
}
.section-4 .section-4__item .item-image img{
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.section-4 .section-4__item .item-content{
    padding: 8px;
}
.section-4 .section-4__item .item-tag{
    display: inline-block;
    background: #00A7E7;
    padding: 4px 10px;
    border-radius: 28px;
    font-size: 1rem;
    font-weight: bold;
    color:#FDFDFD; 
    margin-top: 10px;
    margin-bottom: 10px;
}
.section-4 .section-4__item .item-title{
    font-size: 1.6rem;
    color: var(--color-text-main);
    font-weight: bold;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-bottom: 10px;
}
.section-4 .section-4__item .item-sub-title{
    font-size: 1.4rem;
    color: #242B33;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 10px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* END SECTION FOUR */

/* FOOTER */
.footer{
    background:#FDEED6;
    padding: 80px 0 40px;
}

.footer .footer__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #003459;
    padding: 32px;
    gap: 20px;
    border-radius: 20px;
}
.footer .footer__top .footer__top-title{
    width: 34%;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    text-transform: capitalize;
    line-height: 25px;
}
.footer .footer__top .footer__top-form{
    width: 66%;
    background: #FDFDFD;
    display: flex;
    gap: 15px;
    border-radius: 15px;
    overflow: hidden;
    padding: 15px;
}
.footer .footer__top .footer__top-form input{
    flex:1;
    border: 1px solid #99A2A5;
    padding: 16px 30px;
    border-radius: 10px;
    outline: none;
}
.footer .footer__top .footer__top-form .footer__top-button{
    background: var(--color-text-main);
    border-radius: 10px;
    color: #FDFDFD;
    padding: 12px 28px;
    font-size: 16px;
    font-weight: 500;
    height: 48px;
    border: none;
}
.footer .footer__top .footer__top-form .footer__top-button:hover{
    color: #003459;
    background-color: #ffffff;
    border: 1.5px solid #003459;
    transition: color 0.5s, background-color 1s, border 1s;
}
.footer .footer__midle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    border-bottom: 1px solid #CCD1D2;
}
.footer .footer__midle .footer__midle-links{
    display: flex;
   gap: 60px;
}
.footer .footer__midle .footer__midle-links li a {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--color-text-main);
}
.footer .footer__midle .footer__midle-socials{
    display: flex;
   gap: 40px;
}
.footer .footer__midle .footer__midle-socials li a {
    font-size: 3rem;
    font-weight: 500;
    color: var(--color-text-main);
}
.footer .footer__bottom{
    padding: 50px 0 0 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .footer__bottom-copyright{
    width: 40%;
    font-size: 1.4rem;
    color:#667479;
}
.footer .footer__bottom-logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .footer__bottom-provision {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    font-size: 1.4rem;
    color:#667479;
    gap: 35px;
}
.footer .footer__bottom-provision li a{
    font-size: 1.4rem;
    color:#667479;
}
/* END FOOTER */